-var prefix = ""  // for local development
//-var prefix = "/vbs/videos/"  // for deployment on demo2.itec.aau.at (because static content is served by nginx)

doctype html
html
    head
        title VBSServer - Control
        script(src=prefix + 'scripts/3rdParty/jquery.js')
        script(src=prefix + 'scripts/3rdParty/jquery-ui.js')
        script(src=prefix + 'scripts/3rdParty/jquery-confirm/dist/jquery-confirm.min.js')
        script(src=prefix + 'scripts/3rdParty/socket.io/dist/socket.io.js')
        script(src=prefix + 'scripts/3rdParty/toastr/build/toastr.min.js')
        script(src=prefix + 'scripts/3rdParty/mustache.js/mustache.min.js')
        script(src=prefix + 'scripts/ClientSockets.js')
        script(src=prefix + 'scripts/Control.js')
        link(rel='stylesheet', href=prefix + 'stylesheets/controlStyle.css')
        link(rel='stylesheet', href=prefix + 'stylesheets/jquery-ui.css')
        link(rel='stylesheet', href=prefix + 'scripts/3rdParty/jquery-confirm/dist/jquery-confirm.min.css')
        link(rel='stylesheet', href=prefix + 'scripts/3rdParty/toastr/build/toastr.min.css')
        script(type="text/javascript").
            var config = JSON.parse(new String('#{config}').replace(/&quot;/g, "\""));
    body(onunload="control.unload()")
        a(href='edit' class="pageLink") Edit
        a(href='..' target="_blank" class="pageLink") Menu
        a(href='viewer' target="_blank" class="pageLink") Viewer
        button(type='button' onclick="control.socket.logout()" class="pageLink") Logout

        div(id="competitionsContainer")

        div(id="taskPreview" )
            button(onclick="control.closePreview()") Close
            button(onclick="control.playPreview()") Play
            textarea(id="taskText" spellcheck="false" disabled)

        div(id="competitionTemplate" class="template")
            div(class="competitionDiv" id="competition_{{competition._id}}")
                h3(class="header") {{competition.name}}
                div(class="competitionInfo")
                    | {{#competition.running}}
                    p Started: {{startTime}}
                    button(type="button" onclick="control.stopCompetition()") Stop
                    | {{/competition.running}}
                    | {{^competition.running}}
                    | {{#competition.finished}}
                    p Started: {{startTime}}
                    p Finished: {{endTime}}
                    button(type="button") Inspect
                    | {{/competition.finished}}
                    | {{^competition.finished}}
                    button(type="button" onclick="control.startCompetition('{{competition._id}}')") Start
                    | {{/competition.finished}}
                    | {{/competition.running}}
                div(class="taskContainer")
                div(class="teamContainer")

        div(id="taskTemplate" class="template")
            div(class="taskDiv" id="task_{{task._id}}")
                h4 {{task.name}} ({{task.type}})
                | {{#task.running}}
                p Started: {{startTime}}
                p(class="remainingTime")
                button(type="button" onclick="control.stopTask()") Stop
                button(type="button" onclick="control.resetTask('{{task._id}}')") Reset
                | {{/task.running}}
                | {{^task.running}}
                | {{#task.finished}}
                p Started: {{startTime}}
                p Finished: {{endTime}}
                button(type="button" onclick="control.taskPreview('{{task._id}}', event)") Preview
                button(type="button" onclick="control.resetTask('{{task._id}}')") Reset
                | {{/task.finished}}
                | {{#startable}}
                button(type="button" onclick="control.startTask('{{task._id}}')") Start
                button(type="button" onclick="control.taskPreview('{{task._id}}', event)") Preview
                | {{/startable}}
                | {{/task.running}}

        div(id="teamTemplate" class="template")
            div(class="teamDiv" id="team_{{_id}}")
                h4 {{teamNumber}}: {{name}}
                img(src="{{logoSrc}}" height="32")
