-var prefix = ""  // for local development
//-var prefix = "/vbs/videos/"  // for deployment on demo2.itec.aau.at (because static content is served by nginx)


doctype html
html
    head
        title VBSServer
        script(src=prefix + 'scripts/3rdParty/jquery.js')
        script(src=prefix + 'scripts/3rdParty/jquery-ui.js')
        script(src=prefix + 'scripts/3rdParty/jquery-confirm/dist/jquery-confirm.min.js')        
        script(src=prefix + 'scripts/3rdParty/socket.io/dist/socket.io.js')
        script(src=prefix + 'scripts/3rdParty/toastr/build/toastr.min.js')
        link(rel='stylesheet', href=prefix + 'stylesheets/jquery-ui.css')
        link(rel='stylesheet', href=prefix + 'scripts/3rdParty/jquery-confirm/dist/jquery-confirm.min.css')
        link(rel='stylesheet', href=prefix + 'scripts/3rdParty/toastr/build/toastr.min.css')
        link(rel='stylesheet', href=prefix+'stylesheets/exportStyle.css')
        script(src=prefix + 'scripts/ClientSockets.js')
        script(src=prefix + 'scripts/Export.js')
        script(type="text/javascript").
            var config = JSON.parse(new String('#{config}').replace(/&quot;/g, "\""));
    body()        
        div
            h1 VBS Server Export
            
